* {
  box-sizing:border-box;
}


body{
  overflow: hidden;
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titre{
  width: 100%;
  min-width: 350px;
  align-items: center;
}
.game-container { 
  position: relative;
  width: 240px;
  height: 208px;
  background: url(map.png) no-repeat no-repeat;
  transform: scale(3);
  image-rendering: pixelated;
}

.loading-bar {
  position: absolute;
  top: -20px; /* Adjust this value based on your layout */
  left: 0;
  height: 2px;
  width: 0%; /* Set initial width to 0 */
  background-color: #0026ff; /* Green color for the loading bar */
  transition: width 2s linear; /* Transition effect for the width change */
}

.leaderboard{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
    background-color: rgba(0,0,0,0.44);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}

.leaderboard-container{
  overflow-y:hidden;
  height: 100%;
  font-size: 15px;
  max-height: 170px;
}


.chat {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em; 
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  margin-bottom: 10px;
  display: none;
}
.Arrows{
  display: none;
  margin-top: 120%;
  position: absolute;
}
.Arrows-2{
  display: none;
  margin-top: 138%;
  position: absolute;
}
.chat-container{
  overflow-y:auto;
  max-height: 100%;
  /*set a limited height*/
  max-height: 120px;
  /*background-color: rgba(0,0,0,0.44);*/
}
.buttonChat{
  margin-left: 95%; 
  margin-top: 26%;
  position: absolute;
}

.player-info {
  position: absolute;
  top: 0;
  
  width: 100%;
  padding: 1em;
  display: flex;
  gap: 0.5em;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
}
input[type="text"]:focus {
  border-color: #f000ff;
}
.Arrows button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #00000052;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
.Arrows-2 button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #00000052;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 16px;
  height: 16px;
}
.Character {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top:-18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
}
.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/characters.png);
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}
.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}
.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}
.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}
.Character_shadow {
  background: url(/images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.Character_coins {
  margin-left: 1px;
  color: gold;
}

/* Coins */
.Coin_sprite {
  background: url(/images/coin.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
}
@keyframes coinFloat {
  from { transform: translateY(0) }
  to { transform: translateY(5px) }
}
.Coin_shadow {
  background: url(/images/coin-shadow.png) no-repeat no-repeat;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .Arrows{
    display:block;
    
  }
  .Arrows-2{
    display:block;
    
  }
  .game-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background: url(map.png) no-repeat no-repeat;
    max-width: 100%;
    image-rendering: pixelated;}

  .chat {
    margin: 1em;
   
  }

.chat-container{
  overflow-y:auto;
  max-height: 100%;
  /*set a limited height*/
  max-height: 90px;
  /*background-color: rgba(0,0,0,0.44);*/
}

  input[type="text"] {
    width: 100%;
  }
}
